
/* Navegación */
nav a {
    text-decoration: none;
    
    
}

nav a:hover {
    color: red;
}

/* Cuerpo */

.ps5-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
  }
  
  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* oscurece el video para que se lea el texto */
    z-index: 2;
  }
  
  .ps5-content {
    position: relative;
    z-index: 3;
    max-width: 800px;
  }
  
  .ps5-content h2 {
    font-size: 2.5rem;
    color: #ff4c29;
    margin-bottom: 1rem;
  }
  
  .ps5-content p {
    font-size: 1.2rem;
    line-height: 1.8;
  }
  
  .highlight {
    color: #ff4c29;
    font-weight: bold;
  }
  

/* Estilos para la sección de noticias */
.news-section {
    padding: 2rem;
    color: white;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.news-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: scale(1.05);
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.news-card .news-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    border-radius: 5px;
}