/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #55a1e0;
    color: #333;
}

/* Navegación */
nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

nav a:hover {
    color: red;
}

/* Estilos para secciones con imagen y texto */
.bloque {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 90%;
    gap: 30px; /* Espacio entre texto e imagen */
}

/* Texto dentro de las secciones */
.texto {
    max-width: 50%;
}

.texto h2 {
    margin-top: 0;
    font-size: 24px;
}

/* Imagen dentro de las secciones */
.bloque img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

/* Dirección de los bloques */
.texto-imagen {
    flex-direction: row;
}

.imagen-texto {
    flex-direction: row;
}

/* Estilo para palabras en rojo */
.rojo {
    color: red;
    font-weight: bold;
}

/* Estilos específicos para el cuadro */
.cuadro {
    display: flex; /* Usar flexbox para distribuir las imágenes */
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 50px; /* Aumenta el padding para hacer el cuadro más grande */
    width: 80%; /* O define un ancho fijo como 600px */
    margin: 0 auto;
    gap: 20px; /* Ajusta la distancia entre las imágenes */
}

/* Asegurarse de que las imágenes tengan el mismo tamaño */
.cuadro img {
    width: 300px; /* Establecer el mismo tamaño para todas las imágenes */
    height: 300px; /* Asegurarse de que todas tengan la misma altura */
    object-fit: contain; /* Mantener la proporción de las imágenes */
}

/* Mapa y texto */
/* Estilo para el contenedor del mapa y el texto */
.mapa-contenedor {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

/* Estilo para el mapa */
.mapa-contenedor iframe {
    width: 60%;  /* Ajusta el tamaño del mapa */
    height: 450px;
    border: 0;
}

/* Estilo para el texto */
.mapa-contenedor .texto-mapa {
    width: 35%;  /* Ajusta el tamaño del texto */
    padding-left: 20px;  /* Espacio entre mapa y texto */
}

.mapa-contenedor .texto-mapa p {
    font-size: 16px;
    color: #333;
}


